# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Model files
models/
*.pt
*.pth
*.ckpt
*.onnx

# Dataset / training outputs
dataset/
data/
runs/
outputs/
*.zip

# Streamlit / cache
.streamlit/
.cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
